section {
    padding: 2rem 0;
}

header.my-header {
    position: sticky;
    top: -50px;
    right: 0;
    left: 0;
    z-index: 10;
}

header .my-img {
    width: 100px;
    height: 50px;
    margin-left: auto;
}

main section.jumbotron {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
}

.pad-200 {
    padding-top: 200px;
}