:root {
    --bs-primary-dark: #161c3b;
    --bs-primary-light:#00439C;
    --bs-danger: #cd3d0f;
    --bs-danger-rgb: 205, 61, 15;
}

section, footer {
    padding: 2rem 0;
}

header a {
    text-decoration: none;
}

header.my-header {
    position: sticky;
    top: -50px;
    right: 0;
    left: 0;
    z-index: 10;
}

header .my-img {
    width: 100px;
    height: 50px;
    margin-left: auto;
}

main section.jumbotron {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: top;
}

main section.banner {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
}

footer.footer-bg {
    background-color: var(--bs-primary-light);
}

footer ul li,
footer ul li a {
    text-decoration: none;
    list-style: none;
    color: white;
    padding-bottom: 0.5rem;
}

.bg-primary-dark {
    background-color: var(--bs-primary-dark);
}

.pad-200 {
    padding-top: 200px;
}

.pad-10 {
    padding-top: 8rem;
}

.playst-h:hover {
    scale: 1.2;
}

.ps5-h:hover {
    border-bottom: 2px solid;
    border-color: var(--bs-primary);
}

.newrel-h:hover {
    scale: 1.1;
}

.plays-h:hover {
    opacity: 0.8;
}

.social-media-h:hover {
    opacity: 0.5;
}